*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: blue;
    border-radius: 0cap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
span{
    color: tomato;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li{
    color: rgb(13, 14, 14);
    font-size: small;
}
p{
    color: darkgreen;
}
.hero p{
    color: yellow;
}
ul{
    font-size: xx-large;
    background-color: aqua;
    color: black;
}
li{
    border-color: blue;
}
.esp{
    color: bisque;
    background-color: black;
}
label{
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}
#aaa{
    color: blue;
}